@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

@import url('./fcss.css');
@import url('./components.css');

body {
  font-size: 1em;
  line-height: 1.65;
  color: #000000;
  background: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo__icon {
  width: auto;
  height: 40px;
}

.logo__full {
  width: auto;
  height: 150px;
}

hr {
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: #f5f5f5;
  border: none;
  height: 2px;
}

.social-share-bar {
  display: flex;
  margin-top: 12px;
}

.hover {
  cursor: pointer;
} 

.outline-none {
  outline: none;
}

.SocialMediaShareButton {
  margin-left: 4px;
  margin-right: 4px;
}

@media (min-width: 721px) {
  .dt-none {
    display: none;
  }
}

@media (max-width: 720px) {
  .article-preview__title {
    font-size: 18px;
  }

  .article-preview__sub {
    display: none;
  }

  .article-preview__meta {
    flex-direction: column-reverse;
    width: auto;
    min-width: auto;
  }

  .article-preview__img {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
  }

  .article-preview__img-filter {
    height: 100px;
    width: 100px;
  }

  .meta-dt {
    display: none;
  }

  .logo__full {
    height: 60px;
  }

  .header--hp__sub {
    font-size: 18px;
  }

  .header--hp {
    height: auto;
    padding-bottom: 32px;
    padding-top: 32px;
    align-items: center;
  }

  .article-preview {
    min-height: 120px;
  }

  .header__nav {
    height: 80px;
  }

  .f-24-m {
    font-size: 24px;
  }
}



/* jcTextInput is the class of the input fields (Name, Email, Comment).
jcSendCommentButton is the class of the Send button.
jcCommentsHeader is the class for the first header which says Comments (count)
jcTextareaContainer is the class for the container element for textarea and buttons
jcToggle */

.just-comments {
  margin-top: 100px;
  border-top: 1px solid #f5f5f5;
  font-family: 'Roboto' !important;
}



.jcTextInput {
  background-color: #FFFFFF;
  border: 1px solid #F5F5F5 !important;
  outline: none;
  font-family: 'Roboto' !important;
}

.jcTextareaContainer {
  border: 1px solid #F5F5F5 !important; 
}

.jcTextareaContainer textarea {
  border: none !important;
}

.jcSendCommentButton {
  background-color: #5000ff !important;
  outline: none;
  font-family: 'Roboto' !important;
  text-shadow: none !important;
}

.blocker {
  width: 100%;
    height: 40px;
    background-color: white;
    position: relative;
    top: -20px;
}